{% extends 'core/base.html' %}
{% load static %}
{% block title %}Services{% endblock title %}
{% block content %}
<div class=" container mt-4 ms-4">
    <h3 class="text-warning border-bottom ">Services</h3>

    <!-- First Row Starts here -->
    <div class="row text-center text-white">
        <!-- First-row first-column -->
        <div class="col-sm-4">
            <i class="fas fa-search-dollar fa-2x text-success mt-3 mb-3"></i>
            <h3 class="hv">SEO</h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet.Laborum vel voluptas
                sunt?</p>
        </div>
        <!-- First-row second-column -->
        <div class="col-sm-4">
            <i class="fas fa-palette fa-2x text-info mt-3 mb-3"></i>
            <h3>Web Design</h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum vel voluptas sunt? Lorem ipsum dolor
            </p>
        </div>
        <!-- First-row third-column -->
        <div class="col-sm-4">
            <i class="fas fa-code text-danger fa-2x mt-3 mb-3"></i>
            <h3>Web development</h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lab</p>
        </div>
    </div>
    <!-- Second-Row starts here -->
    <div class="row text-center text-white ">
        <!-- Second-Row first-column -->
        <div class="col-sm-4">
            <i class="fab fa-python text-info fa-2x mt-3 mb-3"></i>
            <h3>Python Programming</h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
        </div>
        <!-- Second-Row second-column -->
        <div class="col-sm-4">
            <i class="fab fa-android text-success fa-2x mt-3 mb-3"></i>
            <h3>Android</h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet.adipisicing elit. Laborum vel voluptas sunt?</p>
        </div>
        <!-- Second-Row third-column -->
        <div class="col-sm-4">
            <i class="fab fa-apple fa-2x mt-3 mb-3"></i>
            <h3>iOS</h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum vel voluptas sunt?</p>
        </div>
    </div>
    <!-- Third-Row Starts here -->
    <div class="row text-center text-white mb-5">
        <!-- Third-Row first-column -->
        <div class="col-sm-4">
            <i class="fas fa-pencil-alt text-danger fa-2x mt-3 mb-3"></i>
            <h3>Logo Design</h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum vel voluptas sunt?</p>
        </div>
        <!-- Third-Row second-column -->
        <div class="col-sm-4">
            <i class="fas fa-database fa-2x mt-3 mb-3"></i>
            <h3>Hosting</h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum vel voluptas sunt?</p>
        </div>
        <!-- Third-Row third-column -->
        <div class="col-sm-4">
            <i class="fas fa-headset text-success fa-2x mt-3 mb-3"></i>
            <h3>Support</h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum vel voluptas sunt?</p>
        </div>
    </div>

    {% endblock content %}